@{
	Layout = null;
	ViewBag.Title = "Helpdesk Request Site";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
    Welcome to the Helpdesk request Site - this is where you cn post new requests for IT support.
    </div>
</body>
</html>
