@{
	Layout = "../Shared/_LayoutNew.cshtml";
	ViewBag.Title = "Helpdesk Request Site";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="hd1">
		<p>Welcome to the Helpdesk request Site - this is where you can post new requests for IT support.</p>
    </div>
	<div class="button">Create request</div>
</body>
</html>
